* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.navbar {
  margin-bottom: 30px;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav .nav-link {
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  color: #c2c2c2;
}

.profile .profileText {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile .profileText h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

.profile .profileText h1 .blinking-cursor {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: blink 1s steps(2, start) infinite;
          animation: blink 1s steps(2, start) infinite;
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.profile .profileText p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #535353;
}

.profile .profileText .logo {
  margin-top: 21px;
}

.profile .profileText .logo img {
  margin-top: 10px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.profile .profileText .logo .btn-contact {
  width: 158px;
  height: 40px;
  text-align: left;
}

.profile .profileText .logo .btn-contact .bi {
  margin-left: 5px;
}

.profile .profilefoto img {
  width: 400px;
  float: right;
}

.portodesain {
  margin-top: 70px;
  margin-bottom: 20px;
}

.portodesain p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  font-size: 16px;
  color: #535353;
}

.portodesain img {
  width: 402px;
  height: 268px;
}

.portodesain .logodesain img {
  margin-top: 10px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.portodesain .logodesain .btn-contact {
  width: 158px;
  height: 40px;
  text-align: left;
  font-size: 14px;
}

.portofolio {
  margin-top: 40px;
}

.portofolio h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: #ffd369;
}

.portofolio .porto1 {
  margin-top: 20px;
}

.portofolio .porto2 {
  margin-top: 40px;
}

.portofolio .link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.portofolio .link a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}

.portofolio .link a:hover {
  color: #C2C2C2;
}

.portofolio .btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #C4C4C4;
}

.pengalaman {
  margin-top: 30px;
}

.pengalaman h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  color: #ffd369;
  margin-top: 50px;
}

.pengalaman .card {
  margin-top: 30px;
}

.pengalaman .card .card-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #000000;
}

.pengalaman .card .card-subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #9E9E9E;
}

.pengalaman .card .card-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.pengalaman .btn {
  margin-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #C4C4C4;
}

.sertifikat {
  margin-top: 30px;
}

.sertifikat h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  color: #ffd369;
}

.sertifikat img {
  margin-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #C4C4C4;
}

.sertifikat .btn {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #C4C4C4;
}

.portoweb h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: #ffd369;
}

.portoweb .link {
  margin-top: 10px;
}

.portoweb .link a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #C2C2C2;
}

.portoweb .link a:hover {
  color: #000000;
}

.portoweb .linkweb a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.portoweb .linkweb a:hover {
  color: #000000 !important;
}

.web1 .tools {
  width: 50px;
  height: 30px;
}

.web1 .carousel {
  position: relative;
}

.web1 .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.web1 #carousel-thumbs {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

.web1 #carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}

.web1 #carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.web1 #carousel-thumbs .selected img {
  border-color: #fff;
}

.web1 .carousel-control-prev,
.web1 .carousel-control-next {
  width: 50px;
}

@media all and (max-width: 767px) {
  .web1 .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .web1 .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .web1 .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

.web1 #backlink {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  color: #c2c2c2;
}

.web1 #backlink:hover {
  color: #ffca4f;
}

.web1 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #000000;
}

.web1 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
}

.web1 #textdesc {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.web1 a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFD369;
  text-decoration: none;
}

.web1 a:hover {
  color: #ffca4f;
}

#footerr {
  margin-top: 10%;
}

footer {
  margin-top: 50px;
  background-color: #EFEFEF;
}

@media (max-width: 575.98px) {
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  .navbar .navbar-nav {
    margin-left: auto;
  }
  .navbar .navbar-nav .nav-link {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    color: #c2c2c2;
  }
  .profile .profileText h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
  }
  .profile .profileText h1 .blinking-cursor {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-animation: blink 1s steps(2, start) infinite;
            animation: blink 1s steps(2, start) infinite;
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  .profile .profileText p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #535353;
  }
  .profile .profileText .logo img {
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  .profile .profileText .logo .btn-contact {
    width: 145px;
    height: 40px;
    text-align: left;
    font-size: 14px;
  }
  .profile .profilefoto img {
    width: 400px;
    float: right;
  }
  .portofolio {
    margin-top: 30px;
  }
  .portofolio h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    color: #ffd369;
  }
  .portofolio .porto1 {
    margin-top: 40px;
  }
  .portofolio .porto2 {
    margin-top: 40px;
  }
  .portofolio .link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .portofolio .link a {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
  }
  .portofolio .link a:hover {
    color: #C2C2C2;
  }
  .portofolio .btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #C4C4C4;
  }
  .pengalaman {
    margin-top: 30px;
  }
  .pengalaman h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    color: #ffd369;
  }
  .pengalaman .card {
    margin-top: 40px;
  }
  .pengalaman .card .card-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #000000;
  }
  .pengalaman .card .card-subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #9E9E9E;
  }
  .pengalaman .card .card-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
  }
  .pengalaman .btn {
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #C4C4C4;
  }
  .sertifikat {
    margin-top: 30px;
  }
  .sertifikat h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    color: #ffd369;
  }
  .sertifikat img {
    margin-top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #C4C4C4;
  }
  .sertifikat .btn {
    margin-top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #C4C4C4;
  }
  .portodesain {
    margin-top: 20px;
  }
  .portodesain p {
    margin-top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #535353;
  }
  .portodesain .logodesain img {
    margin-top: 10px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
  }
  .portodesain .logodesain .btn-contact {
    width: 158px;
    height: 40px;
    text-align: left;
    font-size: 14px;
  }
  footer {
    margin-top: 50px;
    background-color: #EFEFEF;
  }
  .portoweb h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: #ffd369;
  }
  .portoweb .link {
    margin-top: 10px;
  }
  .portoweb .link a {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-left: 50px;
    text-decoration: none;
    color: #C2C2C2;
  }
  .portoweb .link a:hover {
    color: #000000;
  }
  .portoweb .linkweb a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
  }
  .portoweb .linkweb a:hover {
    color: #000000 !important;
  }
  #footerr {
    margin-top: 30%;
  }
}
/*# sourceMappingURL=style.css.map */